@use './variables' as vars;
// 导入 Markdown 基础样式（GitHub 风格）
// @use 'github-markdown-css/github-markdown.css'
// @use './markdown'
@use 'highlight.js/styles/github-dark.css';
@use './markdown' as local;

* {
  box-sizing: border-box; /* 全局设置 */
}

body {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  li,
  p,
  details {
    color: var(--text-color);
  }
  display: block;
  margin: 0;
  // #app
  //   display: flex
  //   width: 100vw
  //   justify-content: space-between
  //
  transition: background-color 0.5s;
  background-color: var(--bg-color);
}

.markdown-body {
  max-width: 100%;
  @include local.styles; // 引用 mixin
}
:root {
  @media (prefers-color-scheme: dark) {
    --bg-color: #{vars.$background-dark};
    --text-color: #{vars.$text-color-dark};
    --code-bg-color: #{vars.$surface-dark};
    --border-color: #{vars.$border-color-dark};
    --footer-bg-color: #{vars.$background-dark};
  }

  @media (prefers-color-scheme: light) {
    --bg-color: #{vars.$background-light};
    --text-color: #{vars.$text-color-light};
    --code-bg-color: #{vars.$surface-light};
    --border-color: #{vars.$border-color};
    --footer-bg-color: #{vars.$nav-bg-color-light};
  }

  body[data-theme='true'] {
    --bg-color: #{vars.$background-dark};
    --text-color: #{vars.$text-color-dark};
    --code-bg-color: #{vars.$surface-dark};
    --border-color: #{vars.$border-color-dark};
    --footer-bg-color: #{vars.$background-dark};
  }

  body[data-theme='false'] {
    --bg-color: #{vars.$background-light};
    --text-color: #{vars.$text-color-light};
    --code-bg-color: #{vars.$surface-light};
    --border-color: #{vars.$border-color};
    --footer-bg-color: #{vars.$nav-bg-color-light};
  }
}
